Repository aws/eks-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bwagner5, @kishorj, @fawadkhaliq, @jaypipes, @achevuru, @stefanprodan, @M00nF1sh, @jayanthvn, @alanprot, @alolita, @PettitWesley, @hossain-rayhan

node-termination-handler: v1.12.2
  stable/aws-node-termination-handler/Chart.yaml
  stable/aws-node-termination-handler/README.md
  stable/aws-node-termination-handler/templates/clusterrole.yaml
  stable/aws-node-termination-handler/templates/daemonset.linux.yaml
  stable/aws-node-termination-handler/templates/daemonset.windows.yaml
  stable/aws-node-termination-handler/templates/deployment.yaml
  stable/aws-node-termination-handler/values.yaml
Owners: @bwagner5

node-termination-handler: v1.12.2 (#484)
  stable/aws-node-termination-handler/Chart.yaml
  stable/aws-node-termination-handler/README.md
  stable/aws-node-termination-handler/templates/clusterrole.yaml
  stable/aws-node-termination-handler/templates/daemonset.linux.yaml
  stable/aws-node-termination-handler/templates/daemonset.windows.yaml
  stable/aws-node-termination-handler/templates/deployment.yaml
  stable/aws-node-termination-handler/values.yaml
Owners: @bwagner5

Publish stable charts v0.0.48
  appmesh-controller-1.3.1.tgz
  appmesh-gateway-0.1.5.tgz
  appmesh-grafana-1.0.4.tgz
  appmesh-inject-0.14.8.tgz
  appmesh-jaeger-1.0.2.tgz
  appmesh-prometheus-1.0.0.tgz
  appmesh-spire-agent-1.0.1.tgz
  appmesh-spire-server-1.0.0.tgz
  aws-calico-0.3.4.tgz
  aws-cloudwatch-metrics-0.0.4.tgz
  aws-for-fluent-bit-0.1.6.tgz
  aws-load-balancer-controller-1.1.6.tgz
  aws-node-termination-handler-0.14.2.tgz
  aws-sigv4-proxy-admission-controller-0.1.1.tgz
  aws-vpc-cni-1.1.3.tgz
  index.yaml
Owners: @bwagner5, @kishorj, @fawadkhaliq, @jaypipes

Add missing field admissionReviewVersions to Mutation and Validating Admission Controllers
  stable/appmesh-controller/templates/webhook.yaml
Owners: @achevuru, @fawadkhaliq

[aws-for-fluentbit] Reduce resource limits/requests (#323)
  scripts/install-toolchain.sh
  stable/aws-for-fluent-bit/Chart.yaml
  stable/aws-for-fluent-bit/values.yaml
Owners: @bwagner5, @kishorj, @fawadkhaliq, @jaypipes, @PettitWesley, @hossain-rayhan

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*       @bwagner5 @kishorj @fawadkhaliq @jaypipes

/stable/appmesh-controller/ @achevuru @fawadkhaliq
/stable/appmesh-gateway/ @stefanprodan
/stable/appmesh-grafana/ @achevuru @fawadkhaliq
/stable/appmesh-inject/ @achevuru @fawadkhaliq
/stable/appmesh-jaeger/ @achevuru @fawadkhaliq
/stable/appmesh-prometheus/ @achevuru @fawadkhaliq

/stable/aws-load-balancer-controller/ @kishorj @M00nF1sh

/stable/aws-calico/ @jayanthvn
/stable/aws-vpc-cni/ @jayanthvn

/stable/aws-node-termination-handler/ @bwagner5

/stable/aws-sigv4-proxy-admission-controller/ @alanprot @alolita

/stable/aws-for-fluent-bit/ @PettitWesley @hossain-rayhan
