Repository aws/eks-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bwagner5, @kishorj, @fawadkhaliq, @jaypipes, @achevuru, @stefanprodan, @M00nF1sh, @jayanthvn, @alanprot, @alolita, @PettitWesley, @hossain-rayhan

Fix chart name for appmesh-spire-agent
  stable/appmesh-spire-agent/Chart.yaml
Owners: @bwagner5, @kishorj, @fawadkhaliq, @jaypipes

Increment chart version for bugfix
  stable/appmesh-spire-agent/Chart.yaml
Owners: @bwagner5, @kishorj, @fawadkhaliq, @jaypipes

Fix chart name for appmesh-spire-agent (#448)
  stable/appmesh-spire-agent/Chart.yaml
Owners: @bwagner5, @kishorj, @fawadkhaliq, @jaypipes

Publish stable charts v0.0.44
  appmesh-controller-1.3.0.tgz
  appmesh-gateway-0.1.5.tgz
  appmesh-grafana-1.0.4.tgz
  appmesh-inject-0.14.8.tgz
  appmesh-jaeger-1.0.2.tgz
  appmesh-prometheus-1.0.0.tgz
  appmesh-spire-agent-1.0.1.tgz
  appmesh-spire-server-1.0.0.tgz
  aws-calico-0.3.4.tgz
  aws-cloudwatch-metrics-0.0.4.tgz
  aws-for-fluent-bit-0.1.6.tgz
  aws-load-balancer-controller-1.1.3.tgz
  aws-node-termination-handler-0.13.3.tgz
  aws-sigv4-proxy-admission-controller-0.1.tgz
  aws-vpc-cni-1.1.2.tgz
  index.yaml
Owners: @bwagner5, @kishorj, @fawadkhaliq, @jaypipes

Release controller v2.1.2
  stable/aws-load-balancer-controller/Chart.yaml
  stable/aws-load-balancer-controller/README.md
  stable/aws-load-balancer-controller/values.yaml
Owners: @kishorj, @M00nF1sh

[aws-load-balancer-controller] release controller v2.1.2 #449
  stable/aws-load-balancer-controller/Chart.yaml
  stable/aws-load-balancer-controller/README.md
  stable/aws-load-balancer-controller/values.yaml
Owners: @kishorj, @M00nF1sh

Publish stable charts v0.0.45
  appmesh-controller-1.3.0.tgz
  appmesh-gateway-0.1.5.tgz
  appmesh-grafana-1.0.4.tgz
  appmesh-inject-0.14.8.tgz
  appmesh-jaeger-1.0.2.tgz
  appmesh-prometheus-1.0.0.tgz
  appmesh-spire-agent-1.0.1.tgz
  appmesh-spire-server-1.0.0.tgz
  aws-calico-0.3.4.tgz
  aws-cloudwatch-metrics-0.0.4.tgz
  aws-for-fluent-bit-0.1.6.tgz
  aws-load-balancer-controller-1.1.4.tgz
  aws-node-termination-handler-0.13.3.tgz
  aws-sigv4-proxy-admission-controller-0.1.tgz
  aws-vpc-cni-1.1.2.tgz
  index.yaml
Owners: @bwagner5, @kishorj, @fawadkhaliq, @jaypipes

doc update: prerequisites
  stable/aws-load-balancer-controller/README.md
Owners: @kishorj, @M00nF1sh

Add podLabels to amazon-vpc-cni chart
  stable/aws-vpc-cni/Chart.yaml
  stable/aws-vpc-cni/README.md
  stable/aws-vpc-cni/templates/daemonset.yaml
  stable/aws-vpc-cni/values.yaml
Owners: @jayanthvn

Add podLabels to amazon-calico chart
  stable/aws-calico/Chart.yaml
  stable/aws-calico/README.md
  stable/aws-calico/templates/daemon-set.yaml
  stable/aws-calico/templates/deployment.yaml
  stable/aws-calico/values.yaml
Owners: @jayanthvn

Use new MutatingWebhookConfiguration apiVersion if available
  stable/appmesh-controller/Chart.yaml
  stable/appmesh-controller/templates/webhook.yaml
  stable/aws-load-balancer-controller/Chart.yaml
  stable/aws-load-balancer-controller/templates/webhook.yaml
  stable/aws-sigv4-proxy-admission-controller/Chart.yaml
  stable/aws-sigv4-proxy-admission-controller/templates/webhook.yaml
Owners: @achevuru, @fawadkhaliq, @kishorj, @M00nF1sh, @alanprot, @alolita

[aws-load-balancer-controller] release controller v2.1.3
  stable/aws-load-balancer-controller/Chart.yaml
  stable/aws-load-balancer-controller/values.yaml
Owners: @kishorj, @M00nF1sh

[aws-load-balancer-controller] doc update: prerequisites (#452)
  stable/aws-load-balancer-controller/README.md
Owners: @kishorj, @M00nF1sh

[aws-load-balancer-controller] release controller v2.1.3 (#461)
  stable/aws-load-balancer-controller/Chart.yaml
  stable/aws-load-balancer-controller/values.yaml
Owners: @kishorj, @M00nF1sh

Publish stable charts v0.0.46
  appmesh-controller-1.3.0.tgz
  appmesh-gateway-0.1.5.tgz
  appmesh-grafana-1.0.4.tgz
  appmesh-inject-0.14.8.tgz
  appmesh-jaeger-1.0.2.tgz
  appmesh-prometheus-1.0.0.tgz
  appmesh-spire-agent-1.0.1.tgz
  appmesh-spire-server-1.0.0.tgz
  aws-calico-0.3.4.tgz
  aws-cloudwatch-metrics-0.0.4.tgz
  aws-for-fluent-bit-0.1.6.tgz
  aws-load-balancer-controller-1.1.5.tgz
  aws-node-termination-handler-0.13.3.tgz
  aws-sigv4-proxy-admission-controller-0.1.tgz
  aws-vpc-cni-1.1.2.tgz
  index.yaml
Owners: @bwagner5, @kishorj, @fawadkhaliq, @jaypipes

Add support to override pod monitor namespace
  stable/aws-node-termination-handler/Chart.yaml
  stable/aws-node-termination-handler/templates/podmonitor.yaml
  stable/aws-node-termination-handler/values.yaml
Owners: @bwagner5

doc: Update README
  stable/aws-node-termination-handler/README.md
Owners: @bwagner5

doc: Fix typo
  stable/aws-node-termination-handler/README.md
  stable/aws-node-termination-handler/values.yaml
Owners: @bwagner5

values: Fix default values
  stable/aws-node-termination-handler/values.yaml
Owners: @bwagner5

[FIX-cloudwatch-metrics] - Use helper for serviceAccountName in ClusterRoleBinding
  stable/aws-cloudwatch-metrics/templates/clusterrolebinding.yaml
Owners: @bwagner5, @kishorj, @fawadkhaliq, @jaypipes

node-termination-handler: v1.12.1
  stable/aws-node-termination-handler/Chart.yaml
  stable/aws-node-termination-handler/README.md
  stable/aws-node-termination-handler/templates/podmonitor.yaml
  stable/aws-node-termination-handler/templates/psp.yaml
  stable/aws-node-termination-handler/test.yaml
  stable/aws-node-termination-handler/values.yaml
Owners: @bwagner5

node-termination-handler: v1.12.1 (#469)
  stable/aws-node-termination-handler/Chart.yaml
  stable/aws-node-termination-handler/README.md
  stable/aws-node-termination-handler/templates/podmonitor.yaml
  stable/aws-node-termination-handler/templates/psp.yaml
  stable/aws-node-termination-handler/test.yaml
  stable/aws-node-termination-handler/values.yaml
Owners: @bwagner5

Publish stable charts v0.0.47
  appmesh-controller-1.3.0.tgz
  appmesh-gateway-0.1.5.tgz
  appmesh-grafana-1.0.4.tgz
  appmesh-inject-0.14.8.tgz
  appmesh-jaeger-1.0.2.tgz
  appmesh-prometheus-1.0.0.tgz
  appmesh-spire-agent-1.0.1.tgz
  appmesh-spire-server-1.0.0.tgz
  aws-calico-0.3.4.tgz
  aws-cloudwatch-metrics-0.0.4.tgz
  aws-for-fluent-bit-0.1.6.tgz
  aws-load-balancer-controller-1.1.5.tgz
  aws-node-termination-handler-0.14.1.tgz
  aws-sigv4-proxy-admission-controller-0.1.tgz
  aws-vpc-cni-1.1.2.tgz
  index.yaml
Owners: @bwagner5, @kishorj, @fawadkhaliq, @jaypipes

Define resources for init container
  stable/appmesh-prometheus/Chart.yaml
  stable/appmesh-prometheus/README.md
  stable/appmesh-prometheus/templates/deployment.yaml
  stable/appmesh-prometheus/values.yaml
  stable/appmesh-spire-agent/Chart.yaml
  stable/appmesh-spire-agent/templates/deployment.yaml
  stable/appmesh-spire-agent/values.yaml
  stable/aws-vpc-cni/Chart.yaml
  stable/aws-vpc-cni/templates/daemonset.yaml
  stable/aws-vpc-cni/values.yaml
Owners: @achevuru, @fawadkhaliq, @bwagner5, @kishorj, @jaypipes, @jayanthvn

added eniconfig
  stable/aws-vpc-cni/templates/eniconfig.yaml
  stable/aws-vpc-cni/values.yaml
Owners: @jayanthvn

added documentation
  stable/aws-vpc-cni/README.md
  stable/aws-vpc-cni/values.yaml
Owners: @jayanthvn

bump chart version
  stable/aws-vpc-cni/Chart.yaml
Owners: @jayanthvn

updated documentation
  stable/aws-vpc-cni/README.md
Owners: @jayanthvn

updated eniconfig to range over subnets
  stable/aws-vpc-cni/README.md
  stable/aws-vpc-cni/templates/eniconfig.yaml
  stable/aws-vpc-cni/values.yaml
Owners: @jayanthvn

[aws-vpc-cni] added eniconfig template (#472)
  stable/aws-vpc-cni/Chart.yaml
  stable/aws-vpc-cni/README.md
  stable/aws-vpc-cni/templates/eniconfig.yaml
  stable/aws-vpc-cni/values.yaml
Owners: @jayanthvn

Support all options in cwagentconfig.json
  stable/aws-cloudwatch-metrics/templates/configmap.yaml
  stable/aws-cloudwatch-metrics/values.yaml
Owners: @bwagner5, @kishorj, @fawadkhaliq, @jaypipes

Rename Values
  stable/aws-cloudwatch-metrics/README.md
  stable/aws-cloudwatch-metrics/templates/configmap.yaml
  stable/aws-cloudwatch-metrics/values.yaml
Owners: @bwagner5, @kishorj, @fawadkhaliq, @jaypipes

update chart version + README
  stable/aws-cloudwatch-metrics/.values.yaml.swp
  stable/aws-cloudwatch-metrics/Chart.yaml
  stable/aws-cloudwatch-metrics/README.md
Owners: @bwagner5, @kishorj, @fawadkhaliq, @jaypipes

Customizing values of cwagentconfig.json
  stable/aws-cloudwatch-metrics/Chart.yaml
  stable/aws-cloudwatch-metrics/README.md
  stable/aws-cloudwatch-metrics/templates/configmap.yaml
  stable/aws-cloudwatch-metrics/values.yaml
Owners: @bwagner5, @kishorj, @fawadkhaliq, @jaypipes

Fix README
  stable/aws-cloudwatch-metrics/README.md
Owners: @bwagner5, @kishorj, @fawadkhaliq, @jaypipes

[aws-load-balancer-contoller, appmesh-controller] Use new MutatingWebhookConfiguration apiVersion if available (#456)
  stable/appmesh-controller/Chart.yaml
  stable/appmesh-controller/templates/webhook.yaml
  stable/aws-load-balancer-controller/Chart.yaml
  stable/aws-load-balancer-controller/templates/webhook.yaml
  stable/aws-sigv4-proxy-admission-controller/Chart.yaml
  stable/aws-sigv4-proxy-admission-controller/templates/webhook.yaml
Owners: @achevuru, @fawadkhaliq, @kishorj, @M00nF1sh, @alanprot, @alolita

Added Instructions for setting up Envoy policies
  stable/appmesh-controller/README.md
Owners: @achevuru, @fawadkhaliq

Addressed Comments
  stable/appmesh-controller/README.md
Owners: @achevuru, @fawadkhaliq

feat: add support for extraEnv
  stable/aws-load-balancer-controller/Chart.yaml
  stable/aws-load-balancer-controller/README.md
  stable/aws-load-balancer-controller/templates/deployment.yaml
  stable/aws-load-balancer-controller/values.yaml
Owners: @kishorj, @M00nF1sh

[aws-load-balancer-controller] doc update: remove unnecessary kubectl apply crds step
  stable/aws-load-balancer-controller/README.md
Owners: @kishorj, @M00nF1sh

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*       @bwagner5 @kishorj @fawadkhaliq @jaypipes

/stable/appmesh-controller/ @achevuru @fawadkhaliq
/stable/appmesh-gateway/ @stefanprodan
/stable/appmesh-grafana/ @achevuru @fawadkhaliq
/stable/appmesh-inject/ @achevuru @fawadkhaliq
/stable/appmesh-jaeger/ @achevuru @fawadkhaliq
/stable/appmesh-prometheus/ @achevuru @fawadkhaliq

/stable/aws-load-balancer-controller/ @kishorj @M00nF1sh

/stable/aws-calico/ @jayanthvn
/stable/aws-vpc-cni/ @jayanthvn

/stable/aws-node-termination-handler/ @bwagner5

/stable/aws-sigv4-proxy-admission-controller/ @alanprot @alolita

/stable/aws-for-fluent-bit/ @PettitWesley @hossain-rayhan
